body.light {
  background-color: #f8f9fa;
  color: #212529;
}

body.dark {
  background-color: #212529;
  color: #f8f9fa;
}

.list-group-item {
  padding: 8px;
  border-bottom: 1px solid #dee2e6;
}

button:disabled {
  cursor: not-allowed;
}
